<h1 *ngIf='user'> Hello,  {{user.name}}</h1>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-10" *ngIf='user'>
        <a routerLink="/" class="logo">EMS</a>
        <nav>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/admin" *ngIf='roles.indexOf("Admin") !== -1'>Admin</a></li>
            <li><a routerLink="/employee">Employee</a></li>
          </ul>
        </nav>
    </div>
    <div class="col-md-2" *ngIf='!user'>
        <h2> <button mat-raised-button color="secondary" (click)="myFunct()" type="button">Login</button></h2>
      </div>
  </div>
  </div>
</header>
<!-- <ul  *ngIf='!user'>
  <li>
    <h2> <button mat-raised-button color="secondary" (click)="myFunct()" type="button">Login</button></h2>
  </li>
</ul> -->





<router-outlet></router-outlet>
